<nav>
  <img id="img-logo" src="/img/logo.png" alt="logo-gark" />
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/#faixa-titulo">PRODUTOS</a></li>
    <li><a href="/cadastro">CADASTRO</a></li>
  </ul>
</nav>